<!-- START NAV -->

<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenu">
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <%= link_to 'Home/', root_path %>
                <%= link_to 'Who We Are/', "/aboutus" %>
                <%= link_to 'Adopt/', "/dogs" %>
                <%= link_to 'Contact Us', "/contactus" %>

                  
                    </div>
                </div>
            </div>
</nav>
