
<%= render "header", dog: @dog %>

<section class="section" id="about">
    <div class="section-heading">
      <center><h3 class="title is-2">Who We Are</h3></center>
      <br><br>
      <div class="container">
        <p>Dog match is a non-profit group that matches dogs in shelters across NSW to their new forever homes! We believe every animal deserves a loving home and it is our aim to match pets to the lifestyle of potentional owners. This ensures a happy and long lasting relationship for the pups and their new best friend! <br> <br>All dogs listed have undergone a comprehensive vet check and are microchipped, desexed and treated for parasites. Rest assured your new best friend will arrive happy and healthy. <br><br>We also pride ourselves in featuring a wide range of breeds, ages, and temperament so you have a wider variety to choose from and also so that each dog is given a chance at a new loving home. If you find a dog that is right for you, please contact the listed shelter to make arrangements to meet your potential new pet.
        <br><br>    
   </div>
</div>
<br><br><br><br>
 <center> <%= image_tag "volunteer-PA.jpg",:style => 'height:400px;width:auto;' %>  


