
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="all.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style>

#navbarBasicExample{
    font-size: 20px;
    background-color; 
    }
      
a {
    color:black;
    text-decoration: none;
}

.title {
    text-align: center;
}
    
    </style>
</head>


<%= render "header", dog: @dog %>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
            Adopt your new best friend!
            </h1>
        </div>
    </div>
</section>



<br>
<p class="title is-1 is-spaced mt-5 ">Who We Are </p>
<p class="subtitle is-3">Dog match is a non-profit group that matches 
dogs in shelters across NSW to their new forever homes! We believe every 
animal deserves a loving home and it is our aim to match pets to the lifestyle of 
potentional owners. This ensures a happy and long lasting relationship for the pups 
and their new best friend! <br> <br>All dogs listed have undergone a comprehensive 
vet check and are microchipped, desexed and treated for parasites. Rest assured your 
new best friend will arrive happy and healthy. <br><br>We also pride ourselves in 
featuring a wide range of breeds, ages, and temperament so you have a wider variety to 
choose from and also so that each dog is given a chance at a new loving home. If you find
 a dog that is right for you, please contact the listed shelter to make arrangements to 
 meet your potential new pet. Make a difference to a pet's life and 
Adopt. 


<br><br><br><br>
 <center> <%= image_tag "volunteer-PA.jpg",:style => 'height:400px;width:auto;' %>  

 <footer class="footer">
 <div class="content has-text-centered">
 <p>
 <strong>&copy; 2020 Pet Shop</strong> 
 </p>
 </div>
</footer>