<%= render "header", dog: @dog %>
<section class="hero is-fullheight">
	<div class="hero-body">
	<div class="container has-text-centered">
	<div class="columns is-7 is-variable ">
	<div class="column is-two-thirds has-text-left">
		<p class="is-size-1">Contact Us</p>
		<p class="is-size-4">For questions or concerns, please email: dogmatch@inquries.com.au</p>
		<div class="social-media">
			<a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</div>
	</div>
				